{% extends "subastas/bases/admin_base.html" %}

{% block content_administrador %}

    <h2>
        Bienes no subastados <small>({{ object_list.count }})</small>
        <a class="btn btn-primary pull-right" href="{% url 'subastas:rodados_create' %}">Agregar Bien</a>
        <a class="btn btn-info pull-right" href="{% url 'subastas:rodados_nuevo_xlsx' %}">Agregar bienes desde xlsx</a>
    </h2>
    <div class="list-group">
        {% for bien in object_list %}
          <a href="{% url 'subastas:rodados_update' bien.id %}" class="list-group-item">
            {{ bien }}
          </a>
        {% empty %}
            No hay bienes.
        {% endfor %}
    </div>
{% endblock content_administrador %}
