{% extends "subastas/bases/acreditador_actero_base.html" %}

{% load crispy_forms_tags %}

{% block content_acreditador_actero %}
    {% if current_subasta %}
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>
                Subasta N° {{ current_subasta.numero }}
                <span class="small">
                    {{ current_subasta.fecha_hora | date:'d/m/Y' }}
                </span>
            </h3>
            <h4>Inscripciones</h4>
          </div>
          <div class="panel-body">
            <div class="col-md-4">

                <ul class="nav nav-tabs" role="tablist" id="AcreditadoresTab">
                  <li role="presentation" class="{% if tab == 'add' %} active {% endif %}%">
                    <a href="#add" aria-controls="add" role="tab" data-toggle="tab">Inscribir</a>
                  </li>
                  <li role="presentation" class="{% if tab == 'search' %} active {% endif %}%">
                    <a href="#search" aria-controls="search" role="tab" data-toggle="tab">Buscar pasados</a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane {% if tab == 'add' %} active {% endif %}%" id="add">
                    {% crispy form form.helper %}
                    <hr>
                  </div>

                  <div role="tabpanel" class="tab-pane {% if tab == 'search' %} active {% endif %}" id="search">
                    <ul class="list-group">
                        {% for persona in personas_all %}
                            <li class="list-group-item">
                              {{ persona.apellidos }} {{ persona.nombres }} ({{ persona.dni }})
                              <a class="pull-right" href="{% url 'personas:asociar' current_subasta.id persona.id %}">
                                <i class="fa fa-plus"></i>
                              </a>
                            </li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="well well-sm">
                  Personas inscriptas: {{ personas.count }}
                </div>
                <ul class="list-group">
                    {% for persona in personas %}
                        <li class="list-group-item">
                            {{ persona.apellidos }} {{ persona.nombres }} ({{ persona.dni }})
                            <a class="pull-right" href="{% url 'personas:desasociar' current_subasta.id persona.id %}">
                              <i class="fa fa-trash"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
    {% else %}
        <h1>No hay una subasta en curso.</h1>
    {% endif %}
{% endblock content_acreditador_actero%}
