{% extends 'subastas/bases/admin_base.html' %}

{% load crispy_forms_tags %}

{% block content_administrador %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1>
                    {% block header %}
                        {% if instance %}
                            Modificar Subasta: {{ instance }}

                            <div class="dropdown pull-right">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Opciones
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li class="dropdown-header">Grupos</li>
                                <li><a href="{% url 'subastas:grupos' %}">Listar</a></li>
                                <li><a href="{% url 'subastas:grupos_create' %}">Agregar</a></li>
                                <li class="dropdown-header">Actas</li>
                                <li><a href="#">Listar</a></li>
                                <li><a href="#">Agregar</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{% url 'subastas:close' instance.id %}" class="btn btn-danger">
                                        Cerrar subasta
                                    </a>
                                </li>
                              </ul>
                            </div>
                        {% else %}
                            Agregar Subasta
                        {% endif %}



                    {% endblock %}
                </h1>
              </div>
              <div class="panel-body">
                <div>
                    {% crispy form form.helper %}
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content_administrador %}
