{% extends 'subastas/bases/admin_base.html' %}

{% block content_administrador %}

    <h2>
        Subasta vigente
        <a class="btn btn-primary pull-right" href="{% url 'subastas:create' %}">Agregar Subasta</a>
    </h2>
    {% if current_subasta %}
        <div class="list-group">
            <a href="{% url 'subastas:update' current_subasta.id %}" class="list-group-item list-group-item-success">
                {{ current_subasta.fecha_hora|date:'d/m/Y' }}
                <span class="badge pull-right">
                    Actas: {{ current_subasta.actas.count }}
                </span>
                <span class="badge pull-right">
                    Grupos: {{ current_subasta.grupos.count }}
                </span>
                <span class="badge pull-right">
                    Rodados: {{ current_subasta.bienes.count }}
                </span>
                <span class="badge pull-right">
                    Inscriptos: {{ current_subasta.personas.count }}
                </span>
            </a>
        </div>
    {% else %}
        Ninguna subasta en curso
    {% endif %}

    <h2>Subastas cerradas</h2>
    <div class="list-group">
        {% for subasta in object_list %}
          <a href="#" class="list-group-item">
            {{ subasta.fecha_hora | date:'d/m/Y' }}
            <span class="badge pull-right">
                Actas: {{ subasta.actas.count }}
            </span>
            <span class="badge pull-right">
                Rodados: {{ subasta.bienes.count }}
            </span>
            <span class="badge pull-right">
                Inscriptos: {{ subasta.personas.count }}
            </span>
          </a>
        {% empty %}
            No existen subastas
        {% endfor %}
    </div>


{% endblock content_administrador %}
