{% extends 'subastas/bases/admin_base.html' %}

{% load static %}{% load i18n %}

{% block content_administrador %}

    <div class="row">
      <div class="col-md-12">
        <h2>
          Usuarios

          <a class="btn btn-primary pull-right" href="{% url 'users:create' %}">Agregar usuario</a>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
            {% for user in user_list %}
              <a href="{% url 'users:update' user.id %}" class="list-group-item">
                {{ user.username }}
                {% if 'users.administrador' in user.get_all_permissions %}
                  <span class="label label-success pull-right">
                    administrador
                  </span>
                {% endif %}

                {% if 'users.acreditador' in user.get_all_permissions %}
                  <span class="label label-primary pull-right">
                    acreditador
                  </span>
                {% endif %}

                {% if 'users.actero' in user.get_all_permissions %}
                  <span class="label label-default pull-right">
                    actero
                  </span>
                {% endif %}
              </a>
            {% endfor %}
        </div>
      </div>
    </div>

{% endblock content_administrador %}
