{% extends 'subastas/bases/admin_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content_administrador %}
    <div class="row">
        <div class="col-md-12">
            <h1>
                {% block header %}
                    {% if instance %}
                        Modificar usuario: {{ instance }}
                    {% else %}
                        Agregar Usuario
                    {% endif %}
                {% endblock %}
            </h1>
            <form class="form-horizontal" method="post"
                  action="{% if instance %}
                            {% url 'users:update' instance.id %}
                          {% else %}
                            {% url 'users:create' %}
                          {% endif %}">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="control-group">
                  <div class="controls">
                    <button type="submit" class="btn">Agregar</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content_administrador %}
