{% extends 'subastas/bases/admin_base.html' %}

{% load crispy_forms_tags %}

{% block content_administrador %}
    <h2>
        <a href="{% url 'subastas:grupos' %}">Grupo {{ object }}</a>
        <small class="text-center">
            Martillero asignado: {{ object.martillero }}
        </small>
        <a class="btn btn-primary pull-right" href="{% url 'subastas:lotes_create' %}">Agregar Lote</a>
    </h2>

    <h3>
        Lotes
        <small>
            {{ object.lotes.all.count }}
        </small>
    </h3>
    <div class="list-group">
        {% for lote in object.lotes.all %}
          <li class="list-group-item clearfix">
            {{ lote }}

            <span class="pull-right">
                <a href="{% url 'subastas:lotes_detail' lote.id %}"
                   class="btn btn-xs btn-info">
                    <i class="fa fa-eye"></i>
                </a>
                <a href="{% url 'subastas:lotes_update' lote.id %}" class="btn btn-xs btn-warning">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
          </li>
        {% empty %}
            Este Grupo no tiene lotes asociados.
        {% endfor %}
    </div>
{% endblock %}
