{% extends 'subastas/bases/admin_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content_administrador %}
    <div class="row">
        <div class="col-md-12">
            <h4>
                {% block header %}
                    <p>Seguro que deseas eliminar a "{{ object }}"?</p>
                {% endblock %}
            </h4>
            <form action="{% url 'personas:profesionales_delete' object.id %}" method="post">{% csrf_token %}
                <input type="submit" value="Eliminar" class="btn btn-danger"/>
            </form>

        </div>
    </div>
{% endblock content_administrador %}
