{% extends 'subastas/bases/admin_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content_administrador %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1>
                    {% block header %}
                        {% if instance %}
                            Modificar profesional: {{ instance }}
                        {% else %}
                            Agregar Profesional
                        {% endif %}
                    {% endblock %}
                </h1>
              </div>
              <div class="panel-body">
                <div>
                    <form method="POST"
                          class="form-horizontal"
                          action="{% if instance %}
                                    {% url 'personas:profesionales_update' instance.id %}
                                  {% else %}
                                    {% url 'personas:profesionales_create' %}
                                  {% endif %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="control-group">
                          <div class="controls">
                            <button type="submit" class="btn btn-success">Aplicar</button>
                            {% if object %}
                                <a href="{% url 'personas:profesionales_delete' object.id %}" class="btn btn-danger">
                                    Eliminar
                                </a>
                            {% endif %}
                          </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content_administrador %}
