{% extends 'subastas/bases/admin_base.html' %}

{% load crispy_forms_tags %}

{% block content_administrador %}
    <h2>
        Lotes
        <a class="btn btn-primary pull-right" href="{% url 'subastas:lotes_create' grupo_id %}">Agregar Lote</a>
    </h2>

    <div class="list-group">
        {% for lote in object_list %}
          <a href="#" class="list-group-item">
            {{ lote }}
          </a>
        {% empty %}
            No existen Lotes.
        {% endfor %}
    </div>
{% endblock %}
